Flask==1.1.1
gensim==3.8.1
ipython==7.11.1
joblib==0.14.1
jupyter==1.0.0
Keras==2.3.1
keras-bert==0.81.0
keras-self-attention==0.41.0
matplotlib==3.1.2
mecab-python3==0.996.3
mojimoji==0.0.9.post0
numpy==1.18.1
pandas==0.25.3
pandas-profiling==2.5.0
pathlib==1.0.1
plotly==4.5.0
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
sklearn==0.0
spacy==2.2.3
tensorflow-datasets==3.0.0
tensorflow==2.2.0-rc1
tqdm==4.42.0
